.row{
    padding:0px;
    margin:0px;
}

.col-md-10, .remove-padding{
    padding:0px;
    margin:0px;
}

.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
}

.box {
    -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.15);
    box-shadow: 0 1px 7px rgba(0,0,0,.15);
    border-radius: 3px;
    width: 450px;
    background: white;
    margin: 7px 10px;
}

.btn-slim {
    padding: 4px;
}


hr{
    margin: 10px 0;
}

.btn-white-blue{
    color:#43abe2;
    background-color:#ffffff;
    border-color:#43abe2;
    width: 120px;
    font-size: medium;
    
    background-position: 0 -68px;
}
.btn-white-blue.focus,
.btn-white-blue:focus{
    color:#ffffff;
    background-color:#43abe2;
    border-color:#ffffff;
}
.btn-white-blue:hover{
    color:#ffffff;
    background-color:#43abe2;
    border-color:#ffffff;
}
.btn-white-blue.active,
.btn-white-blue:active,
.open>.dropdown-toggle.btn-white-blue{
    color:#fff;
    background-color:#b2b0d6;
    border-color:#FFFFFF
}
.btn-white-blue.active.focus,
.btn-white-blue.active:focus,
.btn-white-blue.active:hover,
.btn-white-blue:active.focus,
.btn-white-blue:active:focus,
.btn-white-blue:active:hover,
.open>.dropdown-toggle.btn-white-blue.focus,
.open>.dropdown-toggle.btn-white-blue:focus,
.open>.dropdown-toggle.btn-white-blue:hover{
    color:#ffffff;
    background-color:#43abe2;
    border-color:#ffffff;
}
.btn-white-blue.active,
.btn-white-blue:active,
.open>.dropdown-toggle.btn-white-blue{
    background-image:none
}
.btn-white-blue.disabled.focus,
.btn-white-blue.disabled:focus,
.btn-white-blue.disabled:hover,
.btn-white-blue[disabled].focus,
.btn-white-blue[disabled]:focus,
.btn-white-blue[disabled]:hover,fieldset[disabled] .btn-white-blue.focus,fieldset[disabled] .btn-white-blue:focus,fieldset[disabled] .btn-white-blue:hover{
    background-color:#ccc;
    border-color:#ccc;
    color:#9a9a9a;
}



.btn-blue-white{
    color:#ffffff;
    background-color:#43abe2;
    width: 120px;
    font-size: medium;
    
    background-position: 0 -68px;
}
.btn-blue-white.focus,
.btn-blue-white:focus{
    color:#43abe2;
    background-color:#fff;
}
.btn-blue-white:hover{
    color:#43abe2;
    background-color:#fff;
    border-color:#43abe2;
}
.btn-blue-white.active,
.btn-blue-white:active,
.open>.dropdown-toggle.btn-blue-white{
    color:#fff;
    background-color:#b2b0d6;
    border-color:#FFFFFF
}
.btn-blue-white.active.focus,
.btn-blue-white.active:focus,
.btn-blue-white.active:hover,
.btn-blue-white:active.focus,
.btn-blue-white:active:focus,
.btn-blue-white:active:hover,
.open>.dropdown-toggle.btn-blue-white.focus,
.open>.dropdown-toggle.btn-blue-white:focus,
.open>.dropdown-toggle.btn-blue-white:hover{
    color:#43abe2;
    background-color:#fff;
    border-color:#43abe2;
}
.btn-blue-white.active,
.btn-blue-white:active,
.open>.dropdown-toggle.btn-blue-white{
    background-image:none
}
.btn-blue-white.disabled.focus,
.btn-blue-white.disabled:focus,
.btn-blue-white.disabled:hover,
.btn-blue-white[disabled].focus,
.btn-blue-white[disabled]:focus,
.btn-blue-white[disabled]:hover,fieldset[disabled] .btn-blue-white.focus,fieldset[disabled] .btn-blue-white:focus,fieldset[disabled] .btn-blue-white:hover{
    background-color:#ccc;
    border-color:#ccc;
    color:#9a9a9a;
}



.btn-brown{
    color:#ffffff;
    background-color:#c7b299;
    width: 120px;
    font-size: medium;
    background-position: 0 -68px;
}
.btn-brown.focus,
.btn-brown:focus{
    color:#c7b299;
    background-color:#fff;
}
.btn-brown:hover{
    color:#c7b299;
    background-color:#fff;
    border-color:#c7b299;
}
.btn-brown.active,
.btn-brown:active,
.open>.dropdown-toggle.btn-brown{
    color:#fff;
    background-color:#b2b0d6;
    border-color:#FFFFFF
}
.btn-brown.active.focus,
.btn-brown.active:focus,
.btn-brown.active:hover,
.btn-brown:active.focus,
.btn-brown:active:focus,
.btn-brown:active:hover,
.open>.dropdown-toggle.btn-brown.focus,
.open>.dropdown-toggle.btn-brown:focus,
.open>.dropdown-toggle.btn-brown:hover{
    color:#c7b299;
    background-color:#fff;
    border-color:#c7b299;
}
.btn-brown.active,
.btn-brown:active,
.open>.dropdown-toggle.btn-brown{
    background-image:none
}
.btn-brown.disabled.focus,
.btn-brown.disabled:focus,
.btn-brown.disabled:hover,
.btn-brown[disabled].focus,
.btn-brown[disabled]:focus,
.btn-brown[disabled]:hover,fieldset[disabled] .btn-brown.focus,fieldset[disabled] .btn-brown:focus,fieldset[disabled] .btn-brown:hover{
    background-color:#ccc;
    border-color:#ccc;
    color:#9a9a9a;
}

.img-center {margin:0 auto;}

.font-small {
    font-size: 12px;
}

.font-med {
    font-size: 13px;
}

.notop {
    margin: 10px 10px;
}

@media (min-width: 768px) {
    .margin-bottom {
        margin-bottom: 5px;
    }
    .notop {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
  font-size: medium;
}

.button.is-info:hover, .button.is-info.is-hovered {
  background-color: #1496ed;
  border-color: transparent;
  color: #fff;
}

.button.is-info:focus, .button.is-info.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-info:focus:not(:active), .button.is-info.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
          box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
}

.button.is-info:active, .button.is-info.is-active {
  background-color: #118fe4;
  border-color: transparent;
  color: #fff;
}

.button.is-info[disabled] {
  background-color: #209cee;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-info.is-inverted {
  background-color: #fff;
  color: #209cee;
}

.button.is-info.is-inverted:hover {
  background-color: #f2f2f2;
}

.button.is-info.is-inverted[disabled] {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #209cee;
}

.button.is-info.is-loading:after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-info.is-outlined {
  background-color: transparent;
  border-color: #209cee;
  color: #209cee;
}

.button.is-info.is-outlined:hover, .button.is-info.is-outlined:focus {
  background-color: #209cee;
  border-color: #209cee;
  color: #fff;
}

.button.is-info.is-outlined.is-loading:after {
  border-color: transparent transparent #209cee #209cee !important;
}

.button.is-info.is-outlined[disabled] {
  background-color: transparent;
  border-color: #209cee;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #209cee;
}

.button.is-info.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-info.is-inverted.is-outlined:hover, .button.is-info.is-inverted.is-outlined:focus {
  background-color: #fff;
  color: #209cee;
}

.button.is-info.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.padding {
    padding: 10px;
}

.padding-side {
    padding: 0 5px 0 5px
}

@media (max-width: 767px) {
    .box-container {
        margin: 5px;
    }
    .padding {
        padding: 0;
    }
    .padding-side {
        padding: 0;
    }
}

@media (max-width:1691px) and (min-width:1145px) {
    .box:last-child {
        transform:  translateX(-50%) translateX(-10px);
    }
}​

