.row {
  padding: 0px;
  margin: 0px;
}

.col-md-10,
.remove-padding {
  padding: 0px;
  margin: 0px;
}

.box-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}
.box-container-2 {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .box-container-2 {
    justify-content: center;
    margin-top: 10px;
    overflow-x: hidden;
    height: 600px;
    overflow-y: scroll;
  }
}

.box {
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width: 450px;
  background: white;
  margin: 7px 10px;
}
.box-pop {
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width: 200px;
  background: white;
  margin: 7px 10px;
  height: 150px;
}

@media only screen and (max-width: 768px) {
  .box-pop {
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 100%;
    background: white;
    margin: 7px 10px;
    height: 250px;
  }
}
.area {
  padding: 15px;
  font-size: 30px;
  color: #000;
}

@media only screen and (max-width: 768px) {
  .area {
    padding: 0px;
    margin-top: 10px;
    margin-right: 0px;
    font-size: 20px;
    color: #000;
    left: 0px;
  }
}
/* @media only screen and (max-width: 768px) {

.w3-bar {
  display:none;
}

}*/

.btn-slim {
  padding: 4px;
}

hr {
  margin: 10px 0;
}

.btn-white-blue {
  color: #43abe2;
  background-color: #ffffff;
  border-color: #43abe2;
  width: 120px;
  font-size: medium;

  background-position: 0 -68px;
}
.btn-white-blue.focus,
.btn-white-blue:focus {
  color: #ffffff;
  background-color: #43abe2;
  border-color: #ffffff;
}
.btn-white-blue:hover {
  color: #ffffff;
  background-color: #43abe2;
  border-color: #ffffff;
}
.btn-white-blue.active,
.btn-white-blue:active,
.open > .dropdown-toggle.btn-white-blue {
  color: #fff;
  background-color: #b2b0d6;
  border-color: #ffffff;
}
.btn-white-blue.active.focus,
.btn-white-blue.active:focus,
.btn-white-blue.active:hover,
.btn-white-blue:active.focus,
.btn-white-blue:active:focus,
.btn-white-blue:active:hover,
.open > .dropdown-toggle.btn-white-blue.focus,
.open > .dropdown-toggle.btn-white-blue:focus,
.open > .dropdown-toggle.btn-white-blue:hover {
  color: #ffffff;
  background-color: #43abe2;
  border-color: #ffffff;
}
.btn-white-blue.active,
.btn-white-blue:active,
.open > .dropdown-toggle.btn-white-blue {
  background-image: none;
}
.btn-white-blue.disabled.focus,
.btn-white-blue.disabled:focus,
.btn-white-blue.disabled:hover,
.btn-white-blue[disabled].focus,
.btn-white-blue[disabled]:focus,
.btn-white-blue[disabled]:hover,
fieldset[disabled] .btn-white-blue.focus,
fieldset[disabled] .btn-white-blue:focus,
fieldset[disabled] .btn-white-blue:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #9a9a9a;
}

.btn-blue-white {
  color: #ffffff;
  background-color: #43abe2;
  width: 120px;
  font-size: medium;

  background-position: 0 -68px;
}
.btn-blue-white.focus,
.btn-blue-white:focus {
  color: #43abe2;
  background-color: #fff;
}
.btn-blue-white:hover {
  color: #43abe2;
  background-color: #fff;
  border-color: #43abe2;
}
.btn-blue-white.active,
.btn-blue-white:active,
.open > .dropdown-toggle.btn-blue-white {
  color: #fff;
  background-color: #b2b0d6;
  border-color: #ffffff;
}
.btn-blue-white.active.focus,
.btn-blue-white.active:focus,
.btn-blue-white.active:hover,
.btn-blue-white:active.focus,
.btn-blue-white:active:focus,
.btn-blue-white:active:hover,
.open > .dropdown-toggle.btn-blue-white.focus,
.open > .dropdown-toggle.btn-blue-white:focus,
.open > .dropdown-toggle.btn-blue-white:hover {
  color: #43abe2;
  background-color: #fff;
  border-color: #43abe2;
}
.btn-blue-white.active,
.btn-blue-white:active,
.open > .dropdown-toggle.btn-blue-white {
  background-image: none;
}
.btn-blue-white.disabled.focus,
.btn-blue-white.disabled:focus,
.btn-blue-white.disabled:hover,
.btn-blue-white[disabled].focus,
.btn-blue-white[disabled]:focus,
.btn-blue-white[disabled]:hover,
fieldset[disabled] .btn-blue-white.focus,
fieldset[disabled] .btn-blue-white:focus,
fieldset[disabled] .btn-blue-white:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #9a9a9a;
}

.btn-brown {
  color: #ffffff;
  background-color: #4fc731;
  width: 120px;
  font-size: medium;
  background-position: 0 -68px;
}
.btn-brown.focus,
.btn-brown:focus {
  color: #c7b299;
  background-color: #fff;
}
.btn-brown:hover {
  color: #c7b299;
  background-color: #fff;
  border-color: #c7b299;
}
.btn-brown.active,
.btn-brown:active,
.open > .dropdown-toggle.btn-brown {
  color: #fff;
  background-color: #b2b0d6;
  border-color: #ffffff;
}
.btn-brown.active.focus,
.btn-brown.active:focus,
.btn-brown.active:hover,
.btn-brown:active.focus,
.btn-brown:active:focus,
.btn-brown:active:hover,
.open > .dropdown-toggle.btn-brown.focus,
.open > .dropdown-toggle.btn-brown:focus,
.open > .dropdown-toggle.btn-brown:hover {
  color: #c7b299;
  background-color: #fff;
  border-color: #c7b299;
}
.btn-brown.active,
.btn-brown:active,
.open > .dropdown-toggle.btn-brown {
  background-image: none;
}
.btn-brown.disabled.focus,
.btn-brown.disabled:focus,
.btn-brown.disabled:hover,
.btn-brown[disabled].focus,
.btn-brown[disabled]:focus,
.btn-brown[disabled]:hover,
fieldset[disabled] .btn-brown.focus,
fieldset[disabled] .btn-brown:focus,
fieldset[disabled] .btn-brown:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #9a9a9a;
}

.img-center {
  margin: 0 auto;
}

.notop {
  margin: 10px 10px;
}

@media (min-width: 768px) {
  .margin-bottom {
    margin-bottom: 5px;
  }
  .btn-detail.margin-bottom {
    margin-bottom: 0px;
  }
  .notop {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#calendar {
  margin-top: 10px;
  display: none;
}

#calendar .button {
  background: #31982f;
  border-radius: 15px;
  padding: 10px 0;
  border: 0;
  width: 450px;
  max-width: 93%;
  color: white;
}
#filter-popup {
}

@media (max-width: 767px) {
  #filter {
    display: none !important;
  }
  #filter-popup {
    display: none !important;
  }
  #calendar {
    display: block;
    margin-top: 25px;
  }

}

#filter.items {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 20px;
}

#filter > .item {
  margin: 0 5px;
}

.button {
  cursor: pointer;
}

.input-dropdown.home {
  width: 129.75px;
  top: 75px;
}

.input-dropdown.hand {
  width: 300px;
  top: 75px;
  transform: translateX(-85px);
  background: transparent;
}

.input-dropdown .hand1 {
  width: 210px;
  display: flex;
  background: white;
  border-radius: 3px;
  color: #f15a24;
  font-weight: bold;
}

.hand1 .item {
  width: 71px;
  margin-left: -1px;
}

.hand1 .item:hover,
.hand .item.active {
  color: white;
  background: #f15a24;
}

.hand1 .item:first-child {
  border-radius: 3px 0 0 3px;
}

.hand1 .item:last-child {
  border-radius: 0 3px 3px 0;
}

.hand1 .item:first-child .display {
  border: 0;
}

.hand1 .item .display {
  margin: 5px 0;
  border-left: 1px solid #ccc;
}

.input-dropdown .hand2 {
  width: 300px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  margin-top: 5px;
  color: #3eb4e5;
  font-weight: bold;
}

.hand2 .item .display {
  margin: 5px 0;
  border-left: 1px solid #8ed5ed;
}

.hand2 .item {
  width: 35px;
  margin-left: -1px;
}

.hand2 .item:hover {
  background: #8ed5ed;
  color: white;
}

.hand2 .item:first-child .display {
  border: 0;
}

.hand2 .item:first-child {
  border-radius: 5px 0 0 5px;
}

.hand2 .item:last-child {
  border-radius: 0 5px 5px 0;
}

.input .glyphicon-calendar {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.icon.date {
  font-size: 16px;
  width: 16px;
}

.padding {
  padding: 10px;
}

.padding-side {
  padding: 0 5px 0 5px;
}

@media (max-width: 767px) {
  .box-container {
    margin: 5px;
  }
  .padding {
    padding: 0;
  }
  .padding-side {
    padding: 0;
  }
  .pop-gang-mpopup-name{

  }
  .pop-gang-popup-day{
  color:#fff;
  font-size:10px;
  /* width: 100px; */
  /* margin-top: 15px; */
}
 .pop-gang-popup-typemin{
   color:#fff;
   margin-right: 4px;
   margin-bottom: 7px;
   font-size:16px;
   /* margin-top: 10px;

   margin-left: 22px; */

}
.pop-gang-popup-typemax{
  color:#fff;
  margin-right: 4px;
  margin-bottom: 7px;
  font-size:16px;
  /* margin-top: 10px;
  margin-left: 0px; */
}
.font-tai{
  font-size: 11px;
  color:#fff;
  bottom:0px;
  margin-top: 10px;
}
.font-tai-time{
  font-size: 15px;
  color:#fff;
  bottom:0px;
  margin-top: 10px;
}
.text-con{
  font-size: 13px;
}
.popup-text{
font-size: 13px;
margin-top: 10px;
padding-left:6px;
padding-left:11px
}
.popup-cloes{
  margin-left: : 10px;
}
#detail-btn div{
  padding: 9px 0px 10px 1px !important
}
.btn-detail-popup {
  font-size: 16px !important;
  color:#fff !important;
}
.font-tai-mo{
margin-top: -9px !important;
margin-bottom: -7px !important;
}
}
}

@media (max-width: 1691px) and (min-width: 1145px) {
  .box:last-child {
    transform: translateX(-50%) translateX(-10px);
  }
  .box:nth-child(odd):not(:last-child) {
    transform: translateX(0);
  }
  .box:nth-child(even) {
    transform: translateX(0);
  }
  .pop-gang-mpopup-name{

  }
  .pop-gang-popup-day{
  color:#fff;
  /* font-size:10px;
  margin-top: 15px; */
}
 .pop-gang-popup-typemin{
   color:#fff;
   /* margin-top: 10px; */
     margin-left: 1px;
margin-bottom:10px;
}
.pop-gang-popup-typemax{
  color:#fff;
  /* margin-top: 10px; */
  margin-left: 0px;
margin-bottom:10px;
}
.font-tai{
  font-size: 10px;
  color:#fff;
  bottom:-4px;
    margin-top: 10px;

}
.text-con{
  font-size: 10px;
}
.popup-text{
font-size: 7px;

}
}

.bg-header {
  background-position: top center;
  background-size: 100% auto;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
