body{
    margin:0;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.font-bold {
    font-weight: bold;
}

.color-black {
    color: black;
}

.font-big {
    font-size: 18px;
}

.font-small {
    font-size: 12px;
}

.font-med {
    font-size: 13px;
}

.input {
    position: relative;
    display: flex;
    border-radius: 5px;
    border: 1px solid #888;
    background: white;
    width: 129.75px;
    padding: 3px 0;
    color: #888;
}

.input .display {
    flex: 2 0 auto;
}

.icon.dropdown {
    transform: translate(-13px, 1px);
}

.middle {
    top:50%; left: 50%; transform: translate(-50%, -50%);
}

.menu-item a {
    height: 80px;
    width: 80px;
}

.navbar-right {
    border-left: 1px solid #ccc;
}

.menu-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.66);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: .2s all;
}

.menu-background.open {
    opacity: 1;
    visibility: visible;
}

.menu-content {
    position: absolute;
    width: 330px;
    top: 150px;
    left: 0;
    z-index: 100;
    color: white;
    transform: translateX(-100%);
    transition: .3s all;
}

.menu-content.open {
    transform: translateX(0);
}

.menu-content .menu-white {
    margin-bottom: 10px;
}

.menu-white {
    background: #E6E6E6;
    border-radius: 0 30px 30px 0;
    color: #4D4D4D;
    width: 90%;
    padding: 5px 0;
    cursor: pointer;
    margin-bottom: 15px !important;
}

.font-white {
     margin: 5px 0;
}

.menu-white.coin {
    background: #FCDBB0;
}

.menu-link {
    color: white;
    cursor: pointer;
}

.menu-link:hover {
    color: white;
}

.org-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    background: #4D4D4D;
    top:-5px;
    left: 35px;
    border: 1px solid #E6E6E6;
}

.coin-icon {
    background: #FBB03B;
    border: 0;
}

.navbar{
    margin-bottom: 0px;
    border: 0;
}
.navbar-brand{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}
.navbar-cart{
    padding-top: 14px;
    height: 80px;
    width: 100px;
    text-align: center;
    color: #fff;
    background-color: #F7A71E;
}

.menu {
    list-style: none;
    width: 80px;
    height: 80px;
    position: relative;
    border-right: 1px solid #ccc;
    float: left;
}

.fa-bars {
    color: red;
    cursor: pointer;
}

.navbar-cart span{
    color: #fff;
    font-size: x-small;
}

.navbar-user span.user-name{
    font-weight: bold;
    color: #F00;
}

.navbar-toggle {
    border-radius: 50%;
    padding: 3px;
}

.navbar-user span.user-coin{
    font-weight: bold;
    color: #F7A71E;
    font-size: large;
}

.navbar-user-profile img{
    padding: 3px;
    border: 1px solid #B3B3B3;
    
}
.navbar-user-profile{
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 5px;
}

#nav-icon3 {
  width: 60px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 26px;
  background: #FA453E;
  opacity: 1;
  left: 20%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 30px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 38px;
  width: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 46px;
}

#nav-icon3.open span:nth-child(1) {
  top: 38px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 26px;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 26px;
}

#nav-icon3.open span:nth-child(4) {
  top: 38px;
  width: 0%;
  left: 50%;
}

.btn-red{
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a
}
.btn-red.focus,
.btn-red:focus{color:#fff;
    background-color:#c9302c;
    border-color:#761c19
}
.btn-red:hover{color:#fff;
    background-color:#c9302c;
    border-color:#ac2925
}
.btn-red.active,
.btn-red:active,
.open>.dropdown-toggle.btn-red{color:#fff;
    background-color:#c9302c;
    border-color:#ac2925
}
.btn-red.active.focus,
.btn-red.active:focus,
.btn-red.active:hover,
.btn-red:active.focus,
.btn-red:active:focus,
.btn-red:active:hover,
.open>.dropdown-toggle.btn-red.focus,
.open>.dropdown-toggle.btn-red:focus,
.open>.dropdown-toggle.btn-red:hover{color:#fff;
    background-color:#ac2925;
    border-color:#761c19
}
.btn-red.active,
.btn-red:active,
.open>.dropdown-toggle.btn-red{background-image:none}
.btn-red.disabled.focus,
.btn-red.disabled:focus,
.btn-red.disabled:hover,
.btn-red[disabled].focus,
.btn-red[disabled]:focus,
.btn-red[disabled]:hover,fieldset[disabled] .btn-red.focus,fieldset[disabled] .btn-red:focus,fieldset[disabled] .btn-red:hover{background-color:#d9534f;
    border-color:#d43f3a
}
.btn-red .badge{
    color:#f00;
    background-color:#fff
}

.badge-white{
    background-color:#FFF;
    color:#000;
    border: 1px solid #000;
}

.badge-orange{
    background-color:#ee5b36;
    color:#FFF;
}

.label-white {
    background-color: #6d565f;
    color:#FFF;
    border : 1px solid #FFF;
  }

.dropdown-menu li {
    padding-left:10px;
    width: 200px;
}

.table-court h2{
    background-color:#fff;
    color:#ee5b36;
}
.table-orange{
    background-color:#ee5b36;
    color:#FFF;
}
.table-gray h2{
    background-color:#fff;
    color:#f5f5f5;
}