body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8ed5ed;
}

.navbar-right-contect{
        float: right !important; /* margin-right:-15px */
    }
div::-webkit-scrollbar {
  width: 8px;
}
/*
.swal2-title {
    margin: 0 !important;
    font-size: 16px !important;
    border-bottom: 1px solid #ccc;
    padding-top: 5px !important;
    padding-bottom: 18px !important;
    margin-bottom: 20px !important;
} */

a {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.nopadding {
  padding: 0 !important;
}

.pad-side-10 {
  padding: 0 10px;
}

.pad-side-40 {
  padding: 0 40px;
}

.pad-vert-40 {
  padding: 40px 0;
}

.mar-side-10 {
  margin: 0 10px;
}

.mar-side {
  margin: 0 20px;
}

.mar-vert {
  margin: 20px 0;
}

.mar-top {
  margin-top: 20px;
}

.mar-bottom {
  margin-bottom: 20px;
}

.mar-top-10 {
  margin-top: 10px;
}

.mar-bottom-10 {
  margin-bottom: 10px;
}

.pad-side {
  padding: 0 20px;
}

.pad-side-10 {
  padding: 0 10px;
}

.pad-vert {
  padding: 20px 0;
}

.pad {
  padding: 20px;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.left {
  float: left;
}

.circle {
  border-radius: 50%;
}

.container {
  background-color: white;
}

.flex {
  display: flex;
}

.column {
  flex-direction: row;
}

.center {
  text-align: center;
}

.div.center {
  margin: 0 auto;
}

.wrap {
  flex-wrap: wrap;
}

.inline {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.flex-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-row {
  flex-direction: column;
}

.font-bold {
  font-weight: bold;
}

.font-light {
  font-weight: 200;
}

.grey-med {
  color: #888;
}

.grey-small {
  color: #bbb;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.transparent {
  background: transparent;
}

.font-bigger {
  font-size: 20px !important;
}

.font-big {
  font-size: 18px !important;
}

.font-small {
  font-size: 12px !important;
}

.font-med {
  font-size: 13px !important;
}

.font-meder {
  font-size: 14px !important;
}

.pointer {
  cursor: pointer;
}

.show {
  display: block;
}

.input-dropdown.has-scroll {
  max-height: 97px;
  overflow-y: scroll;
}

.form-group.max {
  display: table;
  width: 100%;
}

.form-group.max label {
  display: table-header-group;
}

.form-group.max .form-control {
  display: table-row-group;
}

.form-group.max {
  margin-bottom: 10px;
}

.form-control:focus {
  border-color: #bbb !important;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.form-control:focus + label {
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

.overlay div {
  z-index: 1020;
}

.shadow {
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
}

.shadow-black {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

.datepicker-top-left:after,
.datepicker-top-left:before,
.datepicker-top-right:after,
.datepicker-top-right:before {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.datepicker-container {
  transform: translateX(-40px);
}

.input-dropdown {
  position: absolute;
  border-radius: 5px 5px 3px 3px;
  width: 100%;
  z-index: 10;
  cursor: pointer;
  background: white;
  display: none;
  font-weight: normal;
  color: #3eb4e5;
}

.input.login {
  text-align: center;
  width: 65px;
}

.input.register {
  text-align: center;
  width: 80px;
}

.input.disable,
.input.disable:hover {
  background: #ddd !important;
  color: #ddd !important;
  border-color: #ddd;
}

.input.disable:hover .icon.dropdown {
  color: white;
  background: #ddd;
}

.input.disable .icon.dropdown {
  color: white;
}

.item-dropdown .item {
  border-bottom: 1px solid #8ed5ed;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.input-dropdown.open {
  display: block;
}

.item-dropdown {
  text-align: center;
  padding: 0 3px;
  margin-top: -1px;
}

.item-dropdown:last-child,
.item-dropdown:last-child div {
  border: 0;
  border-radius: 0 0 3px 3px;
}

.item-dropdown:first-child {
  padding-top: 3px;
  border-radius: 5px 5px 0 0;
}

.item-dropdown:hover {
  background: #8ed5ed;
  color: white;
}

.input {
  position: relative;
  display: flex;
  border-radius: 5px;
  border: 1px solid #888;
  background: white;
  width: 129.75px;
  padding: 3px 0;
  color: #888;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
}

.input:hover .icon,
.input:hover,
.input.active,
.input.active .icon {
  background: #8ed5ed;
  color: white !important;
  border-color: #8ed5ed;
}

.input .display {
  flex: 2 0 auto;
}

.icon {
  color: #8ed5ed;
}

.icon.dropdown {
  transform: translate(-13px, 1px);
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item a {
  height: 64px;
  width: 80px;
}

.menu-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.66);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all;
}

.menu-background.open {
  opacity: 1;
  visibility: visible;
}

.buttonza {
  display: block;
  border-radius: 2px;
  padding: 7px 0;
  border: 1px solid black;
  margin-bottom: 8px;
  color: black !important;
  position: relative;
}

.login-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.event-title {
  font-size: 26px;
}

@media (max-width: 768px) {
  .event-title {
    font-size: 22px;
  }
}

.pull-down {
  margin-top: 10px;
}
.pull-pop {
  margin-top: 20px;
}

.menu-content {
  position: fixed;
  width: 330px;
  top: 150px;
  right: 0;
  z-index: 100;
  color: white;
  transform: translateX(100%);
  transition: 0.3s all;
}

.menu-content.open {
  transform: translateX(0);
}

.menu-content .menu-white {
  margin-bottom: 10px;
}

.menu-white {
  background: #e6e6e6;
  border-radius: 30px 0 0 30px;
  color: #4d4d4d;
  width: 90%;
  padding: 5px 0;
  cursor: pointer;
  margin-bottom: 15px !important;
}

.font-white {
  margin: 5px 0;
}

.menu-white.coin {
  background: #fcdbb0;
}

#dropdownMenu5 {
  cursor: pointer;
}

.menu-link {
  color: white;
  cursor: pointer;
}

.menu-link:hover {
  color: white;
}

.org-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #4d4d4d;
  top: -5px;
  left: 35px;
  border: 1px solid #e6e6e6;
}

.coin-icon {
  background: #fbb03b;
  border: 0;
}

.navbar {
  margin-bottom: 0px;
  border: 0;
}
.navbar-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.navbar-cart {
  padding-top: 14px;
  height: 80px;
  width: 100px;
  text-align: center;
  color: #fff;
  margin-left: 16px;
  background-color: #f7a71e;
}
.navbar-conpon {
  padding-top: 20px;
  height: 80px;
  width: 100px;
  font-size: 10px;
  text-align: center;
  color: #f7a71e;
  background-color: #ffffff;
}
.navbar-logo {
  padding-top: 14px;
  height: 80px;
  width: 100px;
  text-align: center;
  color: #fff;
  margin-left: 16px;
  background-color: #ffffff;
}
.menu {
  list-style: none;
  width: 80px;
  height: 80px;
  position: relative;
  float: left;
}

.fa-bars {
  color: red;
  cursor: pointer;
}

.navbar-cart span {
  color: #fff;
  font-size: x-small;
}

.navbar-user span.user-name {
  font-weight: bold;
  color: #f00;
}

.navbar-toggle {
  border-radius: 50%;
  padding: 3px;
}

.navbar-user span.user-coin {
  font-weight: bold;
  color: #f7a71e;
  font-size: large;
}

.navbar-user-profile img {
  padding: 3px;
  /*  border: 1px solid #b3b3b3; */
}
.navbar-user-profile {
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 5px;
}

#nav-icon3 {
  width: 60px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 26px;
  background: #fa453e;
  opacity: 1;
  left: 20%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 30px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 38px;
  width: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 46px;
}

#nav-icon3.open span:nth-child(1) {
  top: 38px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 26px;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 26px;
}

#nav-icon3.open span:nth-child(4) {
  top: 38px;
  width: 0%;
  left: 50%;
}

.btn-red {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-red.focus,
.btn-red:focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-red:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-red.active,
.btn-red:active,
.open > .dropdown-toggle.btn-red {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-red.active.focus,
.btn-red.active:focus,
.btn-red.active:hover,
.btn-red:active.focus,
.btn-red:active:focus,
.btn-red:active:hover,
.open > .dropdown-toggle.btn-red.focus,
.open > .dropdown-toggle.btn-red:focus,
.open > .dropdown-toggle.btn-red:hover {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-red.active,
.btn-red:active,
.open > .dropdown-toggle.btn-red {
  background-image: none;
}
.btn-red.disabled.focus,
.btn-red.disabled:focus,
.btn-red.disabled:hover,
.btn-red[disabled].focus,
.btn-red[disabled]:focus,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red.focus,
fieldset[disabled] .btn-red:focus,
fieldset[disabled] .btn-red:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-red .badge {
  color: #f00;
  background-color: #fff;
}

.badge-white {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.badge-orange {
  background-color: #ee5b36;
  color: #fff;
}

.label-white {
  background-color: #6d565f;
  color: #fff;
  border: 1px solid #fff;
}

.dropdown-menu li {
  padding-left: 10px;
  width: 200px;
}

.table-court h2 {
  background-color: #fff;
  color: #ee5b36;
}
.table-orange {
  background-color: #ee5b36;
  color: #fff;
}
.table-gray h2 {
  background-color: #fff;
  color: #f5f5f5;
}

.button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
  font-size: medium;
}

.button.is-info:hover,
.button.is-info.is-hovered {
  background-color: #1496ed;
  border-color: transparent;
  color: #fff;
}

.button.is-info:focus,
.button.is-info.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-info:focus:not(:active),
.button.is-info.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
  box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
}

.button.is-info:active,
.button.is-info.is-active {
  background-color: #118fe4 !important;
  border-color: transparent !important;
  color: #fff !important;
}

.button.is-info[disabled] {
  background-color: #209cee;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.is-info.is-inverted {
  background-color: #fff;
  color: #209cee;
}

.button.is-info.is-inverted:hover {
  background-color: #f2f2f2;
}

.button.is-info.is-inverted[disabled] {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #209cee;
}

.button.is-info.is-loading:after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-info.is-outlined {
  background-color: transparent;
  border-color: #209cee;
  color: #209cee;
}

.button.is-info.is-outlined:hover,
.button.is-info.is-outlined:focus {
  background-color: #209cee;
  border-color: #209cee;
  color: #fff;
}

.button.is-info.is-outlined.is-loading:after {
  border-color: transparent transparent #209cee #209cee !important;
}

.button.is-info.is-outlined[disabled] {
  background-color: transparent;
  border-color: #209cee;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #209cee;
}

.button.is-info.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-info.is-inverted.is-outlined:hover,
.button.is-info.is-inverted.is-outlined:focus {
  background-color: #fff;
  color: #209cee;
}

.button.is-info.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #118fe3 transparent #118fe3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}

#filter {
  margin-top: -35px !important;
  padding: 20px 0;
  width: 550px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
}

.box-margin {
  margin-top: 10px !important;
}

.input-dropdown.home.shadow-black {
  top: 40px !important;
}

.input-dropdown.hand {
  top: 40px !important;
}

.box-image {
  background-position: top center;
  background-size: 100% auto;
  border-radius: 15px;
}
.box-overlay-popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0)),
    color-stop(0.05, rgba(0, 0, 0, 0.95))
  );


   }
   div.popup {
     white-space: nowrap;
     width: 100px;
     overflow: hidden;
     text-overflow:ellipsis;
     border-radius: 4px;
     /* background-color:; */


   }

   div.popup:hover {
       overflow: visible;
       width: auto;
   }

.box-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0)),
    color-stop(0.05, rgba(0, 0, 0, 0.95))
  );}
  /* background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 9%,
    rgba(0, 0, 0, 0.7) 23%,
    rgba(0, 0, 0, 0) 100%
  ); */

.box {
  height: 300px;
  z-index: 2;
}

.box-image {
  height: 100%;
}

.box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 0 8px !important;
}
.box-content-popup{

  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 0 8px !important;
}

#detail-btn {
  padding-bottom: 8px;
}

#detail-btn div {
  padding: 0 ;
}

#detail-btn .btn {
  padding: 2px 0;
  font-size: 15px;
}

.tag {
  border-radius: 5px;
  color: white;
  border: 1px solid #fff;
  padding: 3px 15px;
  transform: translateY(-5px);
  display: inline-block;
}

.tag.red {
  color: red;
  border: 1px solid red;
}

.slick-active {
  background: white !important;
}

.mydots li {
  display: block;
  margin: 10px;
  padding: 5px;
}

.mydots li button {
  display: none;
}

img.header {
  display: block;
  max-width: 100%;
  height: 500px;
  line-height: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slick-height {
  height: 615px;
}

@media (max-width: 992px) {
  img.header {
    height: 360px;
  }
  .slick-height {
    height: 455px;
  }
}

@media (max-width: 767px) {
  img.header {
    max-width: 100%;
    height: 300px;
  }
  .slick-height {
    height: 300px;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-cart {
    margin-left: 0;
  }
  div.popup{
  width:auto;
  margin-top:17px !important;
  }
  div.popup:hover{
    width:auto;
  }
}
.pull-pop{

}

@media (max-width: 479px) {
  img.header {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 180px;
  }
  .slick-height {
    height: 180px;
  }
  .navbar-brand {
    display: none;
  }
}

.header.container {
  padding: 0;
}

.slick-list {
  overflow: hidden;
}

.carousel-inner .container {
  padding: 0;
}

.carousel-inner .header {
  width: 90%;
  margin: 0 auto;
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel-inner .item {
  height: 400px;
}

.mydots {
  position: absolute;
  right: 20px;
  left: auto;
  bottom: auto;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
  left: 0;
}

.btn-detail {
  border-radius: 4px;
  color: #209cee;
  background: transparent;
  border: 1px solid #209cee;
  padding: 3px 15px;
  display: inline-block;
}
.btn-detail-popup{
  border-radius: 4px;
  /* color: #209cee; */
  /* background: transparent; */
  /* border: 1px solid #209cee; */
  padding: 1px 4px;
  /* display: inline-block;
  background-color: #00A9E8; */
  font-size: 8px;

}

div.b {
  border-radius: 4px;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    t
}

.carousel.max .carousel-indicators {
  right: 20px !important;
  left: auto;
  bottom: auto;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}

.carousel.max .carousel-indicators li {
  display: block;
  margin: 10px;
}
.carousel.max .carousel-indicators li.active {
  margin: 10px 9px !important;
}

.kaun-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1;
}

.kuan {
  height: 110px;
  width: 50px;
  background: #f4f926;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.kuan-list {
  width: calc(100% - 50px);
  display: none;
  background: black;
}

.kuan i {
  transform: scaleY(2);
}

.kuan.active i {
  transform: rotate(180deg) scaleY(2) translateY(-1px);
  color: #f4f926;
}

.kuan.active {
  background: #000;
  border: 2px solid #f4f926;
}

.kuan-list > .flex > div {
  margin: 15px;
}

.kuan-title {
  color: #f4f926;
  font-weight: bold;
  font-size: 14px;
  padding-top: 7px;
}

.kuan-img {
  position: relative;
  flex-basis: 120px;
  flex-shrink: 0;
  margin-left: 20px;
  background-image: url(/images/events/1/1.png);
  background-position: top center;
  background-size: 100% auto;
}

.kuan-img .name {
  position: absolute;
  bottom: 2px;
  left: 2px;
  color: white;
}

.footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,333333+12,333333+12,333333+61,333333+81,333333+100 */
  background: rgb(0, 0, 0); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 61%,
    rgba(51, 51, 51, 1) 81%,
    rgba(51, 51, 51, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 61%,
    rgba(51, 51, 51, 1) 81%,
    rgba(51, 51, 51, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 61%,
    rgba(51, 51, 51, 1) 81%,
    rgba(51, 51, 51, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
  color: white;
  margin-top: 30px;
}

.footer .container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,333333+12,333333+12,333333+61,333333+81,333333+100 */
  background: rgb(0, 0, 0); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 61%,
    rgba(51, 51, 51, 1) 81%,
    rgba(51, 51, 51, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 61%,
    rgba(51, 51, 51, 1) 81%,
    rgba(51, 51, 51, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 12%,
    rgba(51, 51, 51, 1) 61%,
    rgba(51, 51, 51, 1) 81%,
    rgba(51, 51, 51, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

.contact-border {
  border-bottom: 1px solid #ccc;
}
